body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #666;
}

nav ul{
    display: flex;  
    list-style: none; 
    align-items: center;
}

ul li{
    margin-right: 20px;
}

ul li a{
    color: #fff;
}

h1{
    font-size: 32px;
}

img{
    border: 3px solid rgb(15, 194, 218);
}

footer{
    padding: 20px;
    border-top: 1px solid #666;
    margin-top: 20px;
}
