html {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, p, span {
	margin: 0;
	color: #ffffff;
}

.container {
	max-width: 1920px;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.nav-container .btn-menumobile {
	display: none;
}

/* header */
header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}

/* navbar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
}

nav:after {
	clear: both;
	content: "";
	display: block;
}

.nav-container {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	width: 230px;
	height: 90px;
	margin-top: -1px;
}

.nav-container ul {
	float: right;
	height: 100px;
	line-height: 100px;
	margin: 0;
}

.nav-container ul li {
	list-style: none;
	float: left;
	margin: 0 15px;
}

.nav-container li a {
	text-decoration: none;
	color: #666;
	transition: .5s;
}

.nav-container li a:hover {
	color: #3381f3;
}

/* banner */
#main-banner {
	background: url('../img/banner.jpg') no-repeat;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
	margin-top: 100px;
}

#search-form {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15em;
	padding-bottom: 15em;
	text-align: center;
}

#search-form h1 {
	font-size: 40px;
}

#search-form p {
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 300;
}

#search-form input, #search-form select, #event input, #event select, #event textarea {
	background-color: #FFF;
	border-radius: 5px;
	border-color: transparent;
	padding: 10px 20px;
	font-size: 18px;
	margin: 0 10px;
}

#search-form input[type=submit], #sendjobs input[type=submit] {
	background-color: #3381f3;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	transition: 0.5s;
}

#search-form input[type=submit]:hover, #sendjobs input[type=submit]:hover {
	background-color: #2B79EB;
}

#lastjobs-container {
	text-align: center;
	padding: 100px 0;
}

.wrapper {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#lastjobs-container h1 {
	font-size: 36px;
	margin-bottom: 50px;
	color: black;
}

#lastjobs-container ul {
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 10px;
}

#lastjobs-container ul li {
	list-style: none;
	text-align: left;
	border-bottom: solid 1px #CCC;
	height: 80px;
	position: relative;
}

#lastjobs-container ul li:after {
	clear: both;
	content: "";
	display: block;
}

#lastjobs-container ul li:last-child {
	border: none;
}

.clickarea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* company img */
.company-box {
	display: inline-block;
	width: 50%;
	position: relative;
	padding-left: 1%;
}

.company-box img {
	width: 100px;
	margin-top: 2.5px;
}

.company-box .company-info {
	display: inline-block;
	margin-left: 50px;
	margin-top: 10px;
	text-align: left;
	position: absolute;
}

.company-box .company-info h3 {
	font-weight: 300;
	margin-bottom: 10px;
	color: black;
}

.company-box .company-info p {
	font-weight: bold;
	color: black;
}

.locality {
	color: #6d6d6d;
	display: inline-block;
	width: 25%;
	position: absolute;
	height: 100%;
	line-height: 80px;
}

.locality i, .locality p {
	display: inline-block;
	color: black;
}

.locality i {
	margin-right: 5px;
}

.event-type {
	display: inline-block;
	width: 20%;
	height: 100%;
	position: absolute;
	padding-top: 30px;
	right: 1%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #FFF;
}

.event-type span {
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	border-radius: 5px;
	color: #FFF;
}

.btnevents-container {
	margin-top: 50px;
}

.btn-events {
	text-transform: uppercase;
	background-color: #FFF;
	color: #3381f3;
	border: 2px solid #3381f3;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px 20px;
	font-weight: bold;
	transition: 0.5s;
}

.btn-events:hover {
	background-color: #3381f3;
	color: #FFF;
}
